#pokemon-strength {
    color: red
}

#pokemon-image {
    width: 23vh;
    height: auto;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pokemon-card {
    display: flex;
    flex-direction: column;
    align-items: center;    
}